.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center;     /* Centraliza horizontalmente */
}

.counter-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

button {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #515151;
  background: #000000;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #717070;
}